<style>
body{
	background: linear-gradient:(#141e30 #243b55);
}	
	@import &#34;
	compass/css3&#34;
	;
	@import &#39;
https://fonts.googleapis.com/css?family=Montserrat:300,400,700&#39;
;

 .rwd-table {
 
	 margin: 1em 0;
	 min-width: 300px;
}
 .rwd-table tr {
	border-top: 1px  #ddd;
	border-bottom: 1px  #ddd;
	transition: background 0.25s ease;
	
}
.rwd-table tr:hover{
	background: #014055;
}
 .rwd-table th {
	 display: none;
}
 .rwd-table td {
	 display: block;
}
 .rwd-table td:first-child {
	 padding-top: 0.5em;
}
 .rwd-table td:last-child {
	 padding-bottom: 0.5em;
}
 .rwd-table td:before {
	 content: attr(data-th) &#34;
	: &#34;
	;
	 font-weight: bold;
	 width: 6.5em;
	 display: inline-block;
}
 @media (min-width: 480px) {
	 .rwd-table td:before {
		 display: none;
	}
}
 .rwd-table th, .rwd-table td {
	 text-align: left;
}
 @media (min-width: 480px) {
	 .rwd-table th, .rwd-table td {
		 display: table-cell;
		 padding: 0.25em 0.5em;
	}
	 .rwd-table th:first-child, .rwd-table td:first-child {
		 padding-left: 0;
	}
	 .rwd-table th:last-child, .rwd-table td:last-child {
		 padding-right: 0;
	}
}
 .body {
 
	 padding: 0 2em;
	 font-family: Montserrat, sans-serif;
	 -webkit-font-smoothing: antialiased;
	 text-rendering: optimizeLegibility;
	 color: #444;
	 background: #eee;
	 
}
 .h1 {
	 font-weight: normal;
	 letter-spacing: -1px;
	 color: #34495e;
}
 .rwd-table {
 
	 background: #758bfd;
	 color: #fff;
	 border-radius: 25px;
	 overflow: hidden;
}
 .rwd-table tr {
	 border-color: #27187e;
}
 .rwd-table th, .rwd-table td {
	 margin: 0.5em 1em;
}
 @media (min-width: 480px) {
	 .rwd-table th, .rwd-table td {
		 padding: 1em !important;
	}
}
 .rwd-table th, .rwd-table td:before {
	 color: #dd5;
}
.col-md-4{

  border-radius: 25px;
  background: #aeb8fe;
  color: black;
  padding: 20px;
  width:auto;
  height: auto;
}
.text-right{
	font-size:60px;
	padding: 5rem;
}
.col-md-8 data{

	padding:2.5rem;
	position:absolute;
	right:3px;
	left:auto;

}
input[type="text"]{

  border-radius:15px;
  background: #343a40;
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 5px;
  width: 50%;
  background-color: #e8eeef;
  color: #343a40;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 10px;
}
select #id_Job-Type{
	border-radius: 15px;

}

</style>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

<div id="nav-placeholder"></div>
<body>
	<div class=container-fluid>
	
			<h1 class="text-right">Employee Management</h1>
		
		<div class=col-md-4>
			<form method="POST" >
				{% csrf_token %}
				{{form.as_p}}
				<input type=submit value=save class="btn btn-success">
			</form>	
		
		</div>
		
		<div class="col-md-8">	
			<form>
				{{search_form}}
				<input type=submit value=search class="btn btn-primary">
			</form>
			<table class="rwd-table">
				<tr>
					<th>Id</th>
					<th>Employee name</th>
					<th>Date of birth</th>
					<th>Job</th>
					<th>Job type</th>
					<th>Skills</th>
					<th>Department</th>
					<th>Spouse</th>
					<th>Action</th>
				</tr>
				
				{% for employee in page %}
				<tr>
					<td data-th="Id" >{{employee.id}}</td>
					<td data-th="employee name">{{employee.name}}</td>
					<td data-th="date of birth">{{employee.date_of_birth}}</td>
					<td data-th="job">{{employee.job_title}}</td>
					<td data-th="job type">{{employee.Job_Type}}</td>
					<td data-th="skills">{{employee.skill.all|join:", "}}</td>
					<td data-th="department">{{employee.Department}}</td>
					<td data-th="spouse">{{employee.spouse}}</td>
					<td><button type="button" class="btn btn-info">view</button></td>
				</tr>
				{% endfor %}
			</table>
			<data>
			{% if page.has_previous %}
				<a class="btn btn-default"   href="?page=1"> &laquo; first</a>
				<a class="btn btn-default"   href="?page={{page.previous_page_number}}"> previous </a>
			{% endif %}
			
				page {{page.number}} of {{page.paginator.num_pages}}
				
			{% if page.has_next %}
				<a class="btn btn-default" href="?page={{page.next_page_number}}"> next </a>
				<a class="btn btn-default" href="?page={{page.paginator.num_pages}}"> last &raquo; </a>
			{% endif %}
			</data>
		</div>
	</div>

</body>	
<script>
		$(function(){
		$("#nav-placeholder").load("navbar");
	});
		 
</script>	
